<div>
    <h5 style="text-align: center;" class="status">{{ statusMessage }}</h5>
    <div class="board" *ngFor="let row of [0, 1, 2]">
        <app-cell *ngFor="let col of [0,1,2]" 
            [row]="row" 
            [col]="col" 
            [piece]="board[row][col]"
            (click)="move(row, col)">
        </app-cell>
    </div>
    <br><br>
    <div style="display: flex; justify-content: center;">
        <button nbButton hero status="danger" *ngIf="gameOver" (click)="newGame()">New Game</button>
    </div>
</div>