.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #fff;
}

.center {
     padding: 10px;
     display: flex; 
     justify-content: center;
}

.new-game{
     width: 100%;
}